.svn
.gdb_history
.DS_Store

.build/
.vs/

Win32/
Debug/
Release/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.ilk
*.pdb

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ilk
*.pdb

media
sources/Config.h

!/3rdparty/gles/angle/lib/**
!/3rdparty/gles/angle/dll/**
!/3rdparty/gles/imgtech/lib/**
!/3rdparty/gles/imgtech/dll/**
!/bin/libEGL.dll
!/bin/libGLES_CM.dll
!/bin/libGLESv2.dll
*.bat